@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #413b5b52;
  color: white;
  position: absolute;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
}

div.content {
  margin-left: 150px;
  padding: 1px 35px 0px 0px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  line-height: 8px;
}

li a:hover {
  color: white;
}

::placeholder {
  color: white;
}

.graph {
  background-image: url(/images/weather\ forecast\ graph.png);
  background-size: cover;
  opacity: 0.5;
}

/* Login Page Start */
#login-form{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: linear-gradient(#0b111a00, #111B28);
  box-sizing: border-box;
  box-shadow: 0 15px 25px white;
  border-radius: 10px;
  color: white;
  letter-spacing: .2em ;
}
#login-head{
  text-align: center;
  font-family: 'Inter', sans-serif;
  color:white ;
  text-shadow: 0 0 .28rem black;
}
#login-details{
  margin-top: 3rem;
  margin-left: 1rem;
  font-size: 1.5rem;    
}
label{
  font-family: 'Inter', sans-serif;   
}
#user input{
  background-color: transparent;
  border-color: transparent;
  font-size: 1.2rem;
  width: 100%;
  color: white;
  margin-top: 0.5rem;
  border-radius: 4px;
  padding: .3rem;
  transition: .5S;
  letter-spacing: .1em ;
 
}
#user input:hover{
  box-shadow: 0 0 2em 0 white; 
}

#pass{
  margin-top: 1rem;
}
#pass input{
  background-color: transparent;
  border-color: transparent;
  font-size: 1.2rem;
  width: 100%;
  color: white;
  margin-top: 0.5rem;
  border-radius: 4px;
  padding: .3rem;
  transition: .5S;
  letter-spacing: .1em ;
}
#pass input:hover{
  box-shadow: 0 0 2em 0 white;
}


#submit{
  
  margin-top: 20%;
  margin-bottom: 20%;
  margin-left: 3%;
  
}
#submit input{
  padding: .5rem;
  color: white;
  background-color: transparent;
  border: solid 2px white;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 3px ;
  border-radius: 0.25em;
  transition: .5s;
  text-shadow: 0 0 0.125em black , 0 0 0.25 currentColor ;
  text-shadow: 0 0 .2rem black;  
}
#submit input:hover{
  background: white;
  color: black;
  box-shadow: 1px 0  3.5em 0 #0DC8F4;
  text-shadow: 0 0 .2rem black;  
}

/* Weather Alert */

/* alert left-section */

.back-alert {
  background-image: url('../images/alert3.jpg');
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  background-size: cover;
  height: auto;
  color: white;
  font-weight: bolder;
}

.login__input {
  border: none;
  border-bottom: 2px solid #D1D1D4;
  background: none;
  padding: 10px;
  /* padding-left: 24px; */
  font-weight: 700;
  width: 60%;
  transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-bottom-color: gray;
}

.login_search{
  background-color: grey;
   color: black; font-weight:500;
    border-radius: 25px; 
    font-size: 15px;
    width: 70px;
}
.alert-search {
  padding-top: 10px;
  border-bottom: 1px solid black;
  width: 75%;
  margin-left: 40px;
}

.alert-safe-dangerous {
  border: none;
  background-color: transparent;
}

.alert-city {
  text-align: left;
  margin-left: 30px;
}

.alert-city-p {
  width: 90%;
}

/* alert right-section */

.alert-right-section {
  margin-top: 30px;
  padding-left: 60px;
}

.alert-right-top-p {
  width: 10%;
  font-weight: bold;
}

.alert-right-weather-forecast {
  width: 50%;
}

.alert-right-weather-forecast-p {
  font-size: 55px;
  font-weight: bold;
}

.alert-right-card {
  border: none;
  width: 38rem;
}

.alert-right-card-button {
  color: black;
  border-radius: 20px;
  background-color: gray;
  font-weight: bold;
}

.alert-right-temperature {
  margin-left: 10px;
}

.alert-right-temperature-p1 {
  font-size: 60px;
}

.alert-right-temperature-p2 {
  font-weight: bold;
  border-bottom: 1px solid black;
  width: 100%;
}