body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #413b5b52;
  color: white;
  position: absolute;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
}

div.content {
  margin-left: 150px;
  padding: 1px 35px 0px 0px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  line-height: 8px;
}

li a:hover {
  color: white;
}

::placeholder {
  color: white;
}

.graph{
  background-image: url(/images/weather\ forecast\ graph.png);
  background-size: cover;
  opacity: 0.5;
  
}

/* Weather Alert */

/* alert left-section */

.back-alert{
  background-image: url('../images/alert.jpg');
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
 
  background-size: cover;
  height: 100%;
  color: black;
  font-weight: bolder;
}

.alert-search{

  padding-top: 10px;
  border-bottom: 1px solid black;
  width: 65%;
   margin-left: 40px;
}

.alert-safe-dangerous{
  border: none;
   background-color: transparent;
}

.alert-city{
  text-align: left; 
  margin-left: 30px;
}

.alert-city-p{
  width: 90%;
}

/* alert right-section */

.alert-right-section{
  margin-top: 30px;
  padding-left: 50px;
}

.alert-right-top-p{
  width: 10%;
   font-weight: bold;
}

.alert-right-weather-forecast{
  width: 50%;
}

.alert-right-weather-forecast-p{
  font-size: 55px;
  font-weight: bold;
}

.alert-right-card{
  border: none;
  width: 38rem;
}

.alert-right-card-button{
  color: black;
   border-radius: 20px;
    background-color: gray;
     font-weight: bold;
}

.alert-right-temperature{
  margin-left: 10px;
}

.alert-right-temperature-p1{
  font-size: 60px;
}

.alert-right-temperature-p2{
  font-weight: bold;
   border-bottom: 1px solid black;
   width: 80%; 
}